# local ssl
**/ssl/*

!/**/.gitkeep

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.idea/*
*/.idea/*

*.iml

.DS_Store
.git-crypt.key
.env
.npmrc
.eslintcache
.envrc
.kubeconfig
.aws/credentials
.vscode/*
target

table.html
